<ion-header [translucent]="true">
  <ion-toolbar color="hello-v">
    <ion-buttons  slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="lightpurple">
  <ion-grid class="text-center">
    <!--แถว1-->
    <ion-row>
      <ion-col><img src="assets/product/15promax.webp" alt=""> 
      <p>iPhone 15 Pro Max </p>
      <p>ราคา: 44,990 บาท
        <ion-button expand="block">ซื้อสินค้า</ion-button>
      </ion-col>
      <ion-col><img src="assets/product/s24.webp" alt=""> 
        <p>Samsung S24 Ultra </p>
        <p>ราคา: 43,990 บาท
          <ion-button expand="block">ซื้อสินค้า</ion-button>
        </ion-col>
 </ion-row>
      <!--แถว2-->
      <ion-row>
        <ion-col><img src="assets/product/f23fe.webp" alt=""> 
        <p>Samsung F23 FE </p>
        <p>ราคา: 24,990 บาท
          <ion-button expand="block">ซื้อสินค้า</ion-button>
        </ion-col>
        <ion-col><img src="assets/product/mi-14pro" alt=""> 
          <p>Xiaomi 14T Pro </p>
          <p>ราคา: 33,990 บาท
            <ion-button expand="block">ซื้อสินค้า</ion-button>
          </ion-col>
            <!--แถว3-->
      <ion-row>
        <ion-col><img src="assets/product/ipadair5.webp" alt=""> 
        <p>iPad Air 5 </p>
        <p>ราคา: 34,990 บาท
          <ion-button expand="block">ซื้อสินค้า</ion-button>
        </ion-col>
        <ion-col><img src="assets/product/mipad5.webp" alt=""> 
          <p>Xiaomi Pad 5 </p>
          <p>ราคา: 13,990 บาท
            <ion-button expand="block">ซื้อสินค้า</ion-button>
          </ion-col>
   </ion-row>
      <!--แถว4-->
      <ion-row>
        <ion-col><img src="assets/product/vivo-y20.png" alt=""> 
        <p>VIVO Y20 </p>
        <p>ราคา: 9,990 บาท
          <ion-button expand="block">ซื้อสินค้า</ion-button>
        </ion-col>
        <ion-col><img src="assets/product/ts9.webp" height="190" alt=""> 
          <p>MI Pad 5 </p>
          <p>ราคา: 29,990 บาท
            <ion-button expand="block">ซื้อสินค้า</ion-button>
          </ion-col>
   </ion-row>
   </ion-row>
    </ion-grid>
</ion-content>